.places {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 900px) {
    .places {
         grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 639px) {
    .places {
         grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin-top: 36px;
    }
}