.profile__about{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__about {
        min-width: 0;
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 480px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}