.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-left: 27px;
  }
}


@media screen and (max-width: 768px) {
    .header__logo {
      margin-bottom: 32px;
      width: 104px;
      height: 25px;
    }
}
 