.profile__avatar-container {
  position: relative;
}

.profile__avatar-container:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: #2a2c2f;
  background-image: url("../../../images/edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}
