.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    transition: opacity .2s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .popup__close-button{
        background-size: 20px 20px;
        top: -36px;
        right: 0px;
    }
}