.popup__save-button {
    margin-top: 48px;
    margin-bottom: 37px;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    transition: opacity .2s linear;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .popup__save-button {
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 46px;
    }
}