.popup__save-button {
    height: 50px;
    width: 358px;
    margin-top: 48px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    transition: opacity .2s linear;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}